#CLION files
.idea/

#compile results
*.o
*.a

#compile file
Makefile
MAKEFILE

#temporary files
*~
~test

*.aux
*.bbl
*.blg
*.log
*.gz
*.toc
*.dvi
*.nav
*.snm
*.out
CMake*
*.vrb
report/report_comments.pdf
*vectarrow.m
~*
*.odt



